<h1>Listing liders</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Empresa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @liders.each do |lider| %>
      <tr>
        <td><%= lider.nombre %></td>
        <td><%= lider.direccion %></td>
        <td><%= lider.telefono %></td>
        <td><%= lider.empresa %></td>
        <td><%= link_to 'Show', lider %></td>
        <td><%= link_to 'Edit', edit_lider_path(lider) %></td>
        <td><%= link_to 'Destroy', lider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lider', new_lider_path %>
