<%- model_class = Participante -%>
<div class="page-header">
  <h1>Listing participantes</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:direccion) %></th>
      <th><%= model_class.human_attribute_name(:telefono) %></th>
      <th><%= model_class.human_attribute_name(:empresa) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @participantes.each do |participante| %>
      <tr>
        <td><%= participante.nombre %></td>
        <td><%= participante.direccion %></td>
        <td><%= participante.telefono %></td>
        <td><%= participante.empresa %></td>
	<td>
	  <%= link_to t('.edit', :default => t("helpers.links.edit")),
          edit_participante_path(participante), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
          empresa_path(participante),
          :method => :delete,
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
          :class => 'btn btn-mini btn-danger' %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_participante_path,
            :class => 'btn btn-primary' %>
