<%= simple_form_for(@control_calidad) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :fecha %>
    <%= f.input :status %>
    <%= f.input :no_articulos %>
    <%= f.input :articulos_buenos %>
    <%= f.input :articulos_defetuosos %>
    <%= f.input :iteracion %>
    <%= f.association :participante %>
    <%= f.association :orden_produccion %>
    <%= f.association :articulo %>
    <%= f.association :tecnico %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
